<footer class="foot">
    <div class="f-info">

    
    <div class="f-infosocials">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-linkedin"></i>
    </div>
    <div class="f-info-brand">&copy;Wanderlust Private Limited</div>
    <div class="f-info-links">
<a href="/privacy" class="privacy" style="margin-right: 1rem;">Privacy</a>
<a href="/terms" class="terms">Terms</a>
    </div>
</div>
</footer>